* {
	font-family: arial;
	border:0px;
	margin: 0px;
}

/*Index*/
#menuizq{
	position: fixed;
	background-color: green;
	width: 25%;
	height: 100%;
}

#menu{
	position: fixed;
	background-color: red;
	width: 60%;
}
#opciones {
	position: fixed;
width: 40%;
}