*{font-family: arial;}
body{margin: 0px;
background-color: #E0F2F1;}
#menu{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100%;
	background-color:#009688;
	text-align: center;
	color :#FFF;
}
#menunav{
	margin-top: 10px;
}
#menunav img{
	display: block;
	padding-left: 25px;
	padding-top:10%; 
	height: 50px;
	width: 50px;
}
#userpic{
	padding: 10%;
	width: 80%;
}
#options{
	position: fixed;
	top: 0px;
	left: 100px;
	width: 50px;
	height: 100%;
	background-color: #00b8d4;
}

#conatiner{
	height: 100%;
	background-color: #E0F2F1;
}